requests
polars
tabulate
streamlit
numpy==1.26.4
streamlit-aggrid
flatten_json
jupyter
notebook
plotly
streamlit-plotly-events
pytest
toml
streamlit_extras
ordered_set
polars
dlt[motherduck]
great_tables
scipy
pygwalker
schedule
duckdb==1.1.3
